@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
#page{
    /* overflow: hidden; */
    /* border: 1px solid orange; */
}
/* .header{
    height: 100px;
    background-color:rgba(51, 122, 183,0.9);
    
} */
.content{
    /* border: 1px solid purple; */
}
#form1{
    /* border: 1px solid purple; */
    padding: 80px 0;
}
#txt,#eml,#tarea,#sub{
    width: 400px;
    margin:0 auto;
    height: 50px;
    margin-top:50px;
}
#eml{
    margin-top:30px;
}
#tarea{
    margin-top:30px;
    height: 100px;
}
#sub{
    margin-top:30px;
}


/**/
  /* ul{
    position: fixed;
    right:0px;
    bottom:160px;
  } */
  /* ul li{
      list-style-type: none;
  }
  ul li a{
      display: block;
      background:rgba(0,0,0,0.1);
      border: 1px solid #fff;
      padding: 20px;
      text-decoration: none;
  } */
    .qr_img{
      background:url("../img/qr_img.png") no-repeat;
      background-size: 100%;
      width: 200px;
      height: 300px;
      position: fixed;
      right: 60px;
      bottom:260px;
      display: none;
  }
      .qr_img2{
      background:url("../img/qr_img.png") no-repeat;
      background-size: 100%;
      width: 200px;
      height: 300px;
      position: fixed;
      right: 60px;
      bottom:220px;
      display: none;
  }
  /* ul li a:hover{
      text-decoration: none;
  } */

  /*尾部*/
  .footer{
      height: 100px;
      background-color:rgba(0,0,0,0.8);
  }