<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./app/view/admin/styles/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="./app/view/admin/js/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="./app/view/admin/styles/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>导航编辑页面</title>
    <style>
        .table tbody tr td,.table tfoot tr td{
            background:#F2F9FD;
            text-align:center;
            vertical-align:middle;
        }
        .table-bordered thead tr th,.table-bordered tbody tr td{
            border-bottom-width: 0;
            border:1px solid #B5CFD9;
        }
        #name ,#pass,#order,#url,#old,#salt{
            color:red;
        }
        </style>
        <script>
            $("document").ready(function(){
                /**
                 * 判断当前的导航名信息
                 */
                 var values = true;
                $("#naviga_name").keyup(function(){
                    var name = $("#naviga_name").val();
                    if(name == ""){
                        $("#name").text("修改的导航名不能为空！！！");
                        values = false;
                        return values;
                    }
                    $.ajax({
                        url: "index.php?p=admin&c=Naviga&a=ajaxedit",
                        data:"naviga_name="+name+"&id={^$list['naviga_id']$}",
                        type:"post",
                        dataType:"html",
                        success:function(info){
                            if(info == "更改的导航名已经存在！！！"){
                                $("#name").text(info);
                                values = false;
                                return values;
                            }else{
                                $("#name").html(info);
                                values = true;
                                return values;
                            }
                        }
                    });
                });
                /**
                 * 判断当前的url信息是否为空
                 */
                 $("#naviga_url").keyup(function(){
                     var url = $(this).val();
                     if(url == ""){
                         $("#url").text("修改的URL不能为空！！！");
                         values = false;
                         return values;
                     }else{
                        $("#url").html("<img src='./app/view/admin/images/yes.gif' />");
                        values = true;
                        return values;
                     }
                 });

                 $("form").submit(function(e){
                    var name = $("#naviga_name").val();
                    var url = $("#naviga_url");
                    if(values == false || values == null || name == "" || url == ""){
                        e.preventDefault();
                        alert("填写信息不符合,请更改不符合的信息！！！");
                    }
                 });
            });
        </script>
</head>
<body>
    <table class="table table-bordered">
        <form action="index.php?p=admin&c=Naviga&a=edit" method="post">
            <thead>
                <tr>
                    <th colspan="3"><button type="button" onclick="location.href='index.php?p=admin&c=Naviga&a=list'" class="btn btn-info"><span class="glyphicon glyphicon-list-alt" style="font-size:10px;margin-right:2px;"></span>管理员列表</button></th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td>导航名</td>
                <td><input type="" placeholder="" class="form-control" name="naviga_name" id="naviga_name" value="{^$list['naviga_name']$}" /></td>
                <td id="name"></td>
            </tr>
            <tr>
                <td>URL地址</td>
                <td><input type="text" class="form-control"  name="naviga_url" value="{^$list['naviga_url']$}" id="naviga_url" /></td>
                <td id="url"></td>
            </tr>
            <tr>
                <td>当前分类</td>
                <td>
                    <select name="naviga_parent" class="form-control">
                        <option value="0">顶级分类</option>
                        {^foreach $link as $row$}
                            <option value="{^$row['naviga_id']$}" {^if $row['naviga_id'] eq $list['naviga_parent']$}selected{^/if$} >{^str_repeat("&nbsp;&nbsp;&nbsp;",$row['dree'])$}{^$row['naviga_name']$}</option>
                        {^/foreach$}
                    </select>
                </td>
                <td id="parent"></td>
            </tr>
            <tr>
                <td>是否显示</td>
                <td>{^html_radios options=$show selected=$sel name='naviga_bar'$}</td>
                <td id="show"></td>
            </tr>
            <tr>
                <td>排序</td>
                <td><input type="text" class="form-control" placeholder="" name="naviga_order" id="naviga_order" value="{^$list['naviga_order']$}" /></td>
                <td id="order"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <input type="hidden" value="{^$list['naviga_id']$}" name="naviga_id" id="naviga_id" />
                <td colspan="3"><button type="reset" class="btn btn-danger" name="naviga_ap_res" id="naviga_ap_res" >重置</button><span style="width:10px;display:inline-block;"></span><button class="btn btn-success" type="submit" name="naviga_ap_sub" id="naviga_ap_sub" >修改</button></td>
            </tr>
        </tfoot>
        </form>
    </table>
</body>
</html>